<!-- Start of the footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    
  <!-- Links Section: This section contains a list of important or useful links -->
  <section class="d-flex justify-content-center justify-content-lg-between border-bottom">
      
      <!-- Using a container to wrap and center the content -->
      <div class="container text-center text-md-start mt-5">
          
          <!-- Grid row: Using a grid layout to organize the content in rows and columns -->
          <div class="row">
              
              <!-- First Grid column: About section -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  
                  <!-- Footer Heading and Icon -->
                  <h6 class="text-uppercase fw-bold mb-4">
                      <i class="fas fa-gem footer__icon"></i>Telecom: Connect with the World
                  </h6>
                  
                  <!-- Description about the Telecom -->
                  <p>
                      Telecom is where stories are born, friendships are forged, and ideas come to life.
                  </p>
              </div>
              <!-- End of the first Grid column -->

              <!-- Second Grid column: Useful Links section -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                  
                  <!-- Heading for the links section -->
                  <h6 class="text-uppercase fw-bold mb-4">
                      Useful Links
                  </h6>
                  
                  <!-- Link to APISchema -->
                  <p>
                      <a href="apischema" class="text-reset">APISchema</a>
                  </p>
                  
                  <!-- Link to Swagger Docs -->
                  <p>
                      <a href="swaggerui" class="text-reset">Swagger Docs</a>
                  </p>
              </div>
              <!-- End of the second Grid column -->
              
          </div>
          <!-- End of Grid row -->
      </div>
  </section>
  <!-- End of Links Section -->

  <!-- Copyright Section: Displays the copyright information -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold">UOL - Telecom.com</a>
  </div>
  <!-- End of Copyright Section -->
</footer>
<!-- End of Footer -->
